//Variables Color
$white: #fff;
$isabelline: #EEEDED;
$green: #4CA866;
$gray:#6c757d;
$orange: #E4572E;
$yellow: #EACB31;
$light-blue: #3C91E6;

//Variables Font Family
$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto',
sans-serif;

//Varibles Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Variables Font Weight
$fweight-regular: 300;
$fweight-light: 400;
$fweight-black: 900;

//Font style
$regular: normal;
$italic: italic;

//Device variables
$map-breakpoints: ('device-xsmall': (min-width: 360px),
  'device-small': (min-width: 575.98px),
  'device-medium': (min-width: 767.98px),
  'device-large': (min-width: 991.98px),
  'device-xlarge': (min-width: 1199.98px),
);

