html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "PT Mono", monospace;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.navbar__position-o {
  font-size: 18px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #6c757d;
}

.button {
  font-family: "PT Mono", monospace;
  font-size: 16px;
}

.square {
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.indicators__title {
  font-size: 30px;
  color: black;
}

.indicators__p {
  font-size: small;
  color: #6c757d;
}

.header {
  display: grid;
  grid: "header__right" 300px "header__left" 430px/100%;
}
@media (min-width: 1199.98px) {
  .header {
    grid: "header__left header__right" 430px/70% 30%;
  }
}

.header__left {
  grid-area: header__left;
}

.header__right {
  grid-area: header__right;
}

.about-us {
  display: grid;
  grid: "about-us__left" auto "about-us__right" auto/100%;
}
@media (min-width: 1199.98px) {
  .about-us {
    grid: "about-us__left about-us__right" auto/70% 30%;
  }
}

.about-us__left {
  grid-area: about-us__left;
}

.about-us__right {
  grid-area: about-us__right;
}

.about-us__left {
  display: grid;
  grid: "about-us__text" auto "about-us__containt-img" 300px/100%;
}
@media (min-width: 1199.98px) {
  .about-us__left {
    grid: "about-us__text about-us__containt-img" auto/auto 470px;
  }
}

.about-us__text {
  grid-area: about-us__text;
}

.about-us__containt-img {
  grid-area: about-us__containt-img;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 360px) {
  .navbar__group {
    padding-top: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 767.98px) {
  .navbar__group {
    justify-content: flex-end;
    padding-top: 0;
    width: auto;
  }
}

.indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 575.98px) {
  .indicators {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 15px 0;
}
.navbar__title {
  position: relative;
}
.navbar__position-o {
  position: absolute;
  top: -8px;
  left: -5px;
}
.navbar__li {
  color: #6c757d;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.navbar__li:hover {
  color: #E4572E;
  border-bottom: 2px solid #E4572E;
}

.indicators {
  width: 120px;
  height: 250px;
  background-color: #EEEDED;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -250px;
}
@media (min-width: 575.98px) {
  .indicators {
    width: 470px;
    height: 100px;
    bottom: -100px;
    right: 0;
  }
}
@media (min-width: 1199.98px) {
  .indicators {
    bottom: 0;
    left: -470px;
  }
}

.square {
  width: 100px;
  height: 100px;
  background-color: #3C91E6;
  color: white;
}
.square--orange {
  background-color: #E4572E;
  position: absolute;
  z-index: 30;
  bottom: -370px;
  right: 20px;
}
@media (min-width: 575.98px) {
  .square--orange {
    bottom: -220px;
    right: 20px;
  }
}
@media (min-width: 1199.98px) {
  .square--orange {
    left: -15px;
    bottom: 15px;
  }
}
.square--yellow {
  background-color: #EACB31;
  position: absolute;
  z-index: 20;
  bottom: -350px;
  right: 0;
}
@media (min-width: 575.98px) {
  .square--yellow {
    bottom: -200px;
    right: 0;
  }
}
@media (min-width: 1199.98px) {
  .square--yellow {
    left: 0;
    bottom: 0;
  }
}

.header__right {
  position: relative;
  text-align: center;
  padding: 45px 0;
  border-top: 1px solid #6c757d;
}
@media (min-width: 1199.98px) {
  .header__right {
    text-align: start;
    border-top: none;
    padding-top: 15%;
    padding-left: 20%;
  }
}
.header__p {
  padding-top: 10px;
}

.about-us__text {
  text-align: center;
  padding: 50px 5%;
}
@media (min-width: 1199.98px) {
  .about-us__text {
    padding: 50px;
    text-align: start;
  }
}
.about-us__p {
  padding-top: 20px;
}
.about-us__containt-img {
  width: 80%;
  margin-left: 20%;
  background-color: #3C91E6;
  position: relative;
}
@media (min-width: 1199.98px) {
  .about-us__containt-img {
    width: 100%;
    height: 250px;
    margin-left: 0;
  }
}
.about-us__right {
  position: relative;
}
.about-us__img {
  width: 100%;
  height: 220px;
}
.about-us__img--position-l1 {
  position: absolute;
  z-index: 5;
  bottom: 10%;
  left: -8%;
}
@media (min-width: 1199.98px) {
  .about-us__img--position-l1 {
    width: 88%;
    bottom: -5%;
    left: -5%;
  }
}
.about-us__img--position-r1 {
  width: 100%;
  height: auto;
}
@media (min-width: 1199.98px) {
  .about-us__img--position-r1 {
    height: 300px;
  }
}
.about-us__img--position-r2 {
  width: 100px;
  height: 50px;
  position: absolute;
  z-index: 50;
  top: -15px;
  left: calc(100vw/2 - 50px);
}
@media (min-width: 1199.98px) {
  .about-us__img--position-r2 {
    width: 70px;
    height: 120px;
    top: 0;
    left: -35px;
  }
}

.button {
  margin-top: 10px;
  background-color: #4CA866;
  color: white;
  border: none;
  padding: 4px;
  margin-left: 20px;
}
.button:hover {
  color: #6c757d;
  background-color: white;
  border: 2px solid #6c757d;
}
@media (min-width: 360px) {
  .button {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
