body {
  font-family: $pt-mono;
}

h1 {
  font-size: $xx-large;
}

h2{
  font-size: $x-large;
}

.navbar__position-o {
  font-size: $large;
}


p {
  font-family:$roboto;
  font-size: medium;
  color: $gray;
}

.button{
  font-family: $pt-mono;
  font-size:$medium;
}

.square {
  font-size: $x-large;
  font-weight: 900;
  color: white;
}

.indicators__title {
  font-size: $x-large;
  color: black;
}

.indicators__p {
  font-size: small;
  color: $gray;
}