.about-us {

  &__text {
    padding: 10%;
  }

  &__p{
    padding-top: 20px;
  }

  &__right {
    position: relative;
  }

  &__img {
    position: absolute;

    &--position-l1 {
      width: 420px;
      height: 220px;
      position: absolute;
      bottom: 0;
      left: -25px;
      z-index: 25;
    }

    &--position-r1 {
      height: 300px;
      top: 0;
      left: 0;
      z-index: 100;
    }

    &--position-r2 {
      width: 70px;
      height: 120px;
      position: absolute;
      top: 0;
      left: -35px;
      z-index: 200;
    }
  }
}