.box {
  width: 100px;
  height: 100px;
  background-color: $light-blue;
  color: white;

  &--orange {
    background-color: $orange;
    position: absolute;
    z-index: 30;
    left: -15px;
    bottom: 15px;
  }

  &--yellow {
    background-color: $yellow;
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
  }

  &--rectangle {
    width: 470px;
    height: 250px;
    position: relative;
  }
}