//Grid header
.header {
  display: grid;

  grid:
    "header__right"300px "header__left"430px/ 100%;

  @include response-to('device-large') {
    grid:
      "header__left header__right"430px/ 70% 30%;
  }
}

.header__left {
  grid-area: header__left;
}

.header__right {
  grid-area: header__right;
}

//Grid about-us
.about-us {
  display: grid;

  grid:
    "about-us__left"auto "about-us__right"auto/ 100%;

  @include response-to ('device-large') {
    grid:
      "about-us__left about-us__right"auto/ 70% 30%;
  }
}

.about-us__left {
  grid-area: about-us__left;
}

.about-us__right {
  grid-area: about-us__right;
}

//Grid about-us__left
.about-us__left {
  display: grid;

  grid: "about-us__text"auto "about-us__containt-img"300px/ 100%;

  @include response-to ('device-large') {
    grid:
      "about-us__text about-us__containt-img"auto/ auto 470px;
  }
}

.about-us__text {
  grid-area: about-us__text;
}

.about-us__containt-img {
  grid-area: about-us__containt-img;
}

