.header {

  &__right {
    position: relative;
    text-align: center;
    padding: 45px 0;
    border-top: 1px solid $gray;

    @include response-to('device-large') {
      text-align: start;
      border-top: none;
      padding-top: 15%;
      padding-left: 20%;
    }
  }

  &__p {
    padding-top: 10px;
  }
}