.navbar{
  padding: 15px 0;
  
  &__title{
    position:relative;
  }

  &__position-o{
    position:absolute;
    top:-8px;
    left:-5px;
  }

  &__li{
    color: $gray;
    list-style: none;
    display:inline-block;
    margin-left:10px;
    &:hover{
      color: $orange;
      border-bottom: 2px solid $orange;
    }
  }
}